<h1>Scrabble Word Point Value Calculator</h1>

<p>Find out how much your Scrabble words are worth. Enter the word in the form below and we will tell you what that word is worth.</p>

<form action='/detector' method='get'>
  <div class="form-group">
    <label for="word">Word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">What's your word worth?</button>
</form>
